* {
    padding: 0;
    margin: 0;
    font-weight: 100;
}

body {
    color: white;
    background-color: rgb(95, 95, 95);
    font-family: 'Pixelify Sans', sans-serif;

}


/*Cabeça*/
header {
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 100px;
    background: rgb(52, 38, 81);
}

header img {
    padding-right: 15px;
}

header h3 {
    font-size: 48px;
}

strong {
    font-weight: 700;
    color: rgb(115, 95, 158);
}

section {
    height: 70vh;
}


/*Seção 1*/
.section-1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
    height: calc(100vh - 100px);
    background-color: rgb(101, 101, 101);
}

.section-1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    position: absolute;
    right: 20px;
    font-size: 25px;
    top: 1%;
}

.section-1 img{
    opacity: 50%;
    
}

.section-1 img:hover{
    opacity: 100%;
}

.section-1 div hr {
    width: 120px;
}

.section-1 h1 {
    font-size: 50px;
}

.section-1 h2 {
    font-size: 70px;
}

.section-1 article {
    display: flex;
    flex-direction: column;
    align-items: end;

    margin-left: 70px;
    margin-bottom: 200px;
}

.section-1 article h2 {
    margin-bottom: 60px;
}

.section-1 article .one {
    width: 300px;
    margin-bottom: 45px;
}

.section-1 article .two {
    position: relative;
    width: 700px;
    margin-bottom: 40px;
    
}


.section-1 article img {
    position:absolute;
    opacity: 100%;
    margin-right: 210px;
    top: 210px;
}

.section-1 p {
    font-weight: 400px;
    padding-bottom: 10px;
}


.section-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
}

.section-2 ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:150px;
}

ul li {
    list-style: none;
    font-size: 30px;
}